@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Roboto&display=swap');

body {
   background-image: url("../images/nightsky3.jpg");

    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   /* box-sizing: border-box;*/
}

#heading {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bevan', serif;
    font-size: 1.75em;
    box-shadow: 0 0 8px 8px black inset;
}
@media screen and (max-width: 1345px){
#planet1, #planet2, #planet3, #planet4{
    display:none;
}
 #info{
margin: 0 15px 0 15px;
 }
#pod {

}
button{

 font-size: 1em;
}
    .full-detail img, .full-detail iframe {
        max-width: 100%;
    }
   .hide{
       display: none;
   }
.full-detail p {
    overflow-wrap: break-word;
}
}
@media screen and (min-width: 1350px){
main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

section {

    height: 75%;
    position: absolute;
    margin-left: -4em;

    font-size: 1.5em;

}

button {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: .7em;
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Bevan', serif;
    cursor: pointer;
    text-align: center;
    padding: 1em;
    top: 1px;
    right: 10em;
    position: absolute;
}

.backbutton {
    text-align: center;
}



ul {
    list-style-type: none;


}

li {
    padding: 0 .5em;
    background-color: #011627;
    line-height: 2em;
    text-align: left;

    width: 30em;
    margin-top: 1em;
}

.full-detail li {
    border: none;

}

.hide {
    display: none;
}

.show {
    display: block;
}

.active {
    color: #2ec4b6;
}

.planet {
    width: 7em;
    height: 7em;
}

#planet1 {
    width: 15em;
    height: 15em;
    position: absolute;
    top: 8em;
    right: 5em;
}

#planet2 {
    position: absolute;
    top: 14em;
    left: 9em;
}

#planet3 {
    position: absolute;
    bottom: 1em;
    right: 12em;
}

#planet4 {
    width: 10em;
    height: 10em;
    position: absolute;
    bottom: 3em;
    left: 13em;
}

.full-detail {
    display: grid;
    grid-row: 25;
    grid-column: 5;
    /*width: content-box;
    /* background-size: contain;*/

}

#pod {

    width: 65%;
    left: 25em;
}

.full-detail img, .full-detail iframe {
    max-width: 100%;
}

}