header{
    background-color: darkred;
    color: whitesmoke;
    font-family: "Modern No. 20", serif;
    font-size: large;
    padding: 2em;
    margin: auto;
}
footer{
    background-color: darkred;
    color: whitesmoke;
    font-family: "Modern No. 20", serif;
    font-size: medium;
    padding: 2em;
    margin: auto;
    text-align: center;
}
a{

    color: whitesmoke;
}
#line{
    background-color: black;
    height: .5em;
    width: 145%;
}
#link{
    color:crimson;
}
#chapter5, #chapter6, #chapter7{
    padding: 3em;
    background-color: lightgray;
    font-family: Corbel ;
    border: black .5em solid;
}
h2{
    font-family: "Modern No. 20";
}
.error{
    background: #f99;
    border: #900 1px solid;
    display: none;
}
form{
    width: 30%;
}
.inLinks{

    color: #333333;
    text-decoration: underline;
}
#chapter11, #chapter13, #chapter8, #chapter12, #chapter8, #chapter14, #Validate, #fetch{
    margin: 2em;
    background-color: lightgray;
   padding: 3em;
}
svg{
    height: 100px;
    width: 100px;
}
#json {
    text-decoration: none;
}
.myCanvas {
    border: dotted 2px black;
}
.draganddrop .mc {
    text-align: center;
}
#ac3 {
    width: 35%;
    heith: 10%;
    border: 1px darkcyan dotted;
    text-align: center;

}
#mouse1, #mouse2, #mouse3{
    width: 10%;
    heigth: 10%;
}